body{
    background:white;
}

.events {
    text-align:center;
    
    font-size:30px;
    padding :15px ;
    background :white;
}
.techville {
     text-align:center;
     background-color :#24F4D0;
}
.regbtn {
    /*text-align:center;*/
    background-color : white;
    color: black;
    font-weight:bold;
    font:sans-serif;
    text-decoration: none;
    
}
.reg1 {
    /*text-align:center;*/
   
    color: black;
    font-weight:bold;
    font:sans-serif;
    text-decoration: none;
    
}

.regbtn:hover{
    background:#F99B0A;
}